ltm node /Common/elk_node {
    address 10.1.30.105
}

ltm pool /Common/elk_pool {
    members {
        /Common/elk_node:5400 {
            address 10.1.30.105
        }
    }
}

sys log-config destination remote-high-speed-log /Common/elk_hsl_dest {
    pool-name /Common/elk_pool
    protocol udp
}

sys log-config publisher /Common/elk_log_pub {
    destinations {
        /Common/elk_hsl_dest { }
    }
}

ltm rule /Common/log_l4_tcp_connection_hsl_irule {
#**
#** Name   : log_l4_tcp_connection_hsl_irule
#** Author : brett-at-f5
#** Description: Log L4 TCP connections to HSL Publisher
#**

when SERVER_CONNECTED {
  set hsl [HSL::open -publisher /Common/elk_log_pub]

  HSL::send $hsl "timestamp=[clock clicks -milliseconds],ip_protocol=[IP::protocol],source_addr=[IP::client_addr],source_port=[TCP::client_port],snat_ip=[IP::local_addr],snat_port=[TCP::local_port],dest_ip=[IP::server_addr],dest_port=[TCP::server_port]"
}
}

ltm rule /Common/log_l4_udp_connection_hsl_irule {
#**
#** Name   : log_l4_udp_connection_hsl_irule
#** Author : brett-at-f5
#** Description: Log L4 UDP connections to HSL Publisher
#**

when SERVER_CONNECTED {
  set hsl [HSL::open -publisher /Common/elk_log_pub]

  HSL::send $hsl "timestamp=[clock clicks -milliseconds],ip_protocol=[IP::protocol],source_addr=[IP::client_addr],source_port=[UDP::client_port],snat_ip=[IP::local_addr],snat_port=[UDP::local_port],dest_ip=[IP::server_addr],dest_port=[UDP::server_port]"
}
}


ltm rule /Common/log_l4_ip_connection_hsl_irule {
#**
#** Name   : log_l4_udp_connection_hsl_irule
#** Author : brett-at-f5
#** Description: Log L4 IP connections to HSL Publisher
#**

when SERVER_CONNECTED {
  set hsl [HSL::open -publisher /Common/elk_log_pub]

  HSL::send $hsl "timestamp=[clock clicks -milliseconds],ip_protocol=[IP::protocol],source_addr=[IP::client_addr],source_port=0,snat_ip=[IP::local_addr],snat_port=0,dest_ip=[IP::server_addr],dest_port=0"
}
}
